<div class="main-nav-wrapper">

  <div class="main-nav home">
    <%= link_to "HOME", root_url(anchor: "home") %>
  </div>

  <div class="main-nav about">
    <%= link_to "ABOUT ME", root_url(anchor: "about") %>
  </div>

  <div class="main-nav work">
    <%= link_to "PORTFOLIO", root_url(anchor: "work") %>
  </div>

  <div class="main-nav blog">
    <%= link_to "BLOG POSTS", root_url(anchor: "blog") %>
  </div>

  <div class="main-nav contact">
   <%= link_to "CONTACT", root_url(anchor: "contact") %>
  </div>
</div>
