<footer class="footer" id="contact">
  <p>Follow me on:</p>
  <div class="social">
    <%= link_to "https://github.com/aphuong", :target => "_blank" do %>
      <span class="social-icon"><i class="fa fa-github"></i></span>
    <% end %>
  </div>
  <div class="social">
    <%= link_to "http://www.linkedin.com/in/anhlarusso/", :target => "_blank" do %>
      <span class="social-icon"><i class="fa fa-linkedin"></i></span>
    <% end %>
  </div>
  <div class="social">
    <%= link_to "http://aphu420.tumblr.com/", :target => "_blank" do %>
      <span class="social-icon"><i class="fa fa-tumblr"></i></span>
    <% end %>
  </div>
  <div class="social">
    <%= link_to "http://instagram.com/aphu420", :target => "_blank" do %>
      <span class="social-icon"><i class="fa fa-instagram"></i></span>
    <% end %>
  </div>
</footer>

<!-- <footer>
  <ul>
    <li><%= link_to "Home", root_url(anchor: "home") %></li>
    <li><%= link_to "Work", root_url(anchor: "work") %></li>
    <li><%= link_to "About", root_url(anchor: "about") %></li>
  </ul>
</footer> -->