<h2 class="section-name">Recent Works</h2>


<div class="flexslider">
  <ul class="slides">
    <li>
      <div class="row work-container">
        <%= link_to "http://fruitface.herokuapp.com/", :target => "_blank" do %>
          <%= image_tag "work-fruit.png", class: "laptop-img" %>
          <%= image_tag "iphone-fruit.png", class: "iphone-img" %>
        <% end %>
        <div class="description">
          <h5>FRUITFACE GENERATOR</h5>
          <p>Build a FruitFace, view the code snippet and learn how to code one yourself!</p>
          <h6>TECHNOLOGIES:</h6>
          <p>Ruby on Rails, JavaScript, D3.js, Adobe Illustrator</p>
          <h6>PROJECT TIMELINE:</h6>
          <p>Approximately 2 weeks</p>
          <br>
          <div class="links">
            <%= link_to "https://github.com/aphuong/FruitFace", :target => "_blank" do %>
              <p>View on GitHub: <i class="fa fa-github"></i></p>
            <% end %>
            <%= link_to "http://fruitface.herokuapp.com/", "http://fruitface.herokuapp.com/", :target => "_blank" %>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="row work-container">
        <%= link_to "https://github.com/aphuong/On-Board", :target => "_blank" do %>
          <%= image_tag "work-onboard.png", class: "laptop-img" %>
        <% end %>
        <div class="description">
          <h5>ON-BOARD</h5>
          <p>App designed to enhance student experience prior to beginning Web Development Intensive Program at New York Code and Design Academy.</p>
          <h6>TECHNOLOGIES:</h6>
          <p>Ruby on Rails, JavaScript</p>
          <h6>PROJECT TIMELINE:</h6>
          <p>Approximately 1 weeks</p>
          <br>
          <div class="links">
            <%= link_to "https://github.com/aphuong/On-Board", :target => "_blank" do %>
              <p>View on GitHub: <i class="fa fa-github"></i></p>
            <% end %>
          </div>
        </div>
      </div>
     </li>
    <li>
      <div class="row work-container">
        <%= link_to "http://lessthanorequaltoten.herokuapp.com/", :target => "_blank" do %>
          <%= image_tag "work-tutorials.png", class: "laptop-img" %>
        <% end %>
        <div class="description">
          <h5>LESS THAN OR EQUAL TO TEN STEPS</h5>
          <p>A skill share site allowing users to learn a new skill and share their creativity and knowledge.</p>
          <h6>TECHNOLOGIES</h6>
          <p>Ruby on Rails, JavaScript, RSpec</p>
          <h6>PROJECT TIMELINE:</h6>
          <p>Approximately 2 weeks</p>
          <br>
          <div class="links">
            <%= link_to "https://github.com/aphuong/less-than-or-equal-to-ten-steps", :target => "_blank" do %>
              <p>View on GitHub: <i class="fa fa-github"></i></p>
            <% end %>
            <%= link_to "http://lessthanorequaltoten.herokuapp.com/", "http://lessthanorequaltoten.herokuapp.com/", :target => "_blank" %>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>