<%= render partial: 'nav' %>

<div class="menu-btn">
  <span>Menu</span> <i class="fa fa-bars"></i>
</div>

<div class="shim"></div>

<section class="module parallax parallax-1" id="home">
  <div class="container">
    <%= render partial: 'dashboard' %>
  </div>
</section>

<section class="module content" id="about">
  <div class="container">
    <%= render partial: 'about' %>
  </div>
</section>

<section class="module parallax parallax-2">
  <div class="container">
    <%= render partial: 'skills' %> 
  </div>
</section>

<section class="module content" id="work">
  <div class="container">
    <%= render partial: 'work' %>
  </div>
</section>

<section class="module parallax parallax-3" id="blog">
  <div class="container">
    <%= render partial: 'blog' %>
  </div>
</section>

<section class="module content" id="contact">
  <div class="container">
    <%= render partial: 'contact' %>
    <%= render partial: 'footer' %>
  </div>
</section>


